script
  var socket = io.connect();
  socket.on('bluehotdog/kabalaocr', function (data) {
    console.dir(data);
  });

a(style='font-size:34px;', href='https://www.github.com/joyent/node') nodejs
a(href='https://www.github.com/sproutcore/sproutcore') sproutecore

