script(src='/socket.io/socket.io.js')
script
  var socket = io.connect();
  socket.on('bluehotdog/kabalaocr', function (data) {
    console.dir(data);
  });

a(href='https://www.github.com/joyent/node') node
a(href='https://www.github.com/sproutcore/sproutcore') node

